.a0{font-size:16px;line-height:150%;letter-spacing:1px;color:#000000;font-weight:bold;}
.a1{font-size:14px;line-height:150%;letter-spacing:1px;color:#000000;font-weight:normal;}
.a2{font-size:12px;line-height:150%;letter-spacing:1px;color:#000000;font-weight:normal;}