@charset "Shift_JIS";

/*
------------------------
CSS_name:DreamBaseball
SR ALL RIGHTS RESERVED.
------------------------
*/



/****************************************************/
/***** 全般の設定 ***********************************/

li	{
		margin-left:-10px;
	}


/*
背景色や文字色などページ全体の基本的な書式
*/
	body{
		margin:0;
		text-align:center;
		background:#C6E2FE;
	}


/*
blockquoteで引用した部分の書式
*/
	blockquote{
		margin:7px 5px 5px 7px;
		border:1px dashed #999999;
		background:#ffffff;
		font-size:small;
		line-height:120%;
		padding:3px;
	}


/*
リンク文字列に関する書式
*/
	a{color:#333333;text-decoration:none;}
	a:link{color:#333333;text-decoration:underline;}
	a:visited{text-decoration:underline;}
	a:active{}
	a:hover{}


/*
ブログタイトルの書式
*/
	.site_title{
		background-image:url(/as-blog/images/theme/title_02_02.jpg);
		width:100%;
		height:50px;
		font-size:24px;
		line-height:100%;
		font-weight:bold;
		padding:10px 0px 0 15px;
		text-align:left;
		letter-spacing:2px;
	}


/*
サブタイトルの書式
*/
	.description{
		color:#FFFFFF;
		font-size:12px;
		font-weight:bold;
		text-align:left;
		letter-spacing:2px;
	}


/*
記事一件の書式
*/
	.article{
		position:static;
		background:#ffffff;
		text-align:left;
	}


/*
記事リストのタイトル
0000年00月の記事
カテゴリーの記事
*/
	.article-list-title{
		color:#222222;
		padding:2px 0px 7px 0px;
		text-align:center;
		font-size:12px;
	}
	.article-category-title{
		color:#222222;
	}


/*
記事リストのタイトル
カテゴリーの選択
*/
	.article-select-title{
		color:#222222;
		padding:0px 0px 0px 0px;
		text-align:center;
		font-size:12px;
	}


/*
記事リストの日ごとのタイトル
0000年00月00日
*/
	.entry-day-title{
		color:#222222;
		background-image:url(/as-blog/images/theme/endline_02_02.gif);
		background-repeat:no-repeat;
		background-position:left bottom;
		padding-left:10px;
		text-align:left;
		font-size:13px;
		font-weight:bold;
		border:1px solid #003399;
	}


/*
メインエリアを囲むテーブル
*/

	.tab-design{
		background:#ffffff;
	}


/*サイドバーとの間隔*/
	.padding{
		width:10px;
	}


/*トップページ以外のメイン部*/
	.article-main{
		table-layout:fixed;
	}


/*サイドバー + 記事リスト*/
	.main{
		width:710px;
		padding-top:10px;
	}


/*トップページのメイン部の記事リスト（枠で囲まれた部分）*/
	.top-main{
		table-layout: inherit;
		width:100%;
	}


/*
トップページの記事リスト
*/
	.top-main-article{
		width:100%;
		padding-left:0px;
		padding-right:0px;
	}


/****************************************************/
/***** 記事 *****************************************/


/*
ブログ追記日時の書式
*/
	.entry_date{
		color:#222222;
		background:#ffffff;
		font-size:small;
		font-weight:bold;
		padding:5px 10px 5px 20px;
		height:10px;
	}


/*
ブログ記事タイトルの書式
*/
	.entry_title{
		background:#DEDEDE;
		font-size:13px;
		line-height:130%;
		font-weight:bold;
		padding:3px;
		margin:20px 15px 15px 15px;
	}


/*
記事本文の書式
*/
	.entry_body{
		color:#222222;
		background:#ffffff;
		font-size:14px;
		line-height:130%;
		letter-spacing:1px;
		margin:20px 20px 15px 30px;
		padding:3px;
	}


/*
記事本文のリンク「続きを読む」
*/
	.entry_more_link{
		color:#999999;
		font-size:12px;
		text-align:right;
		margin:15px 30px 15px 0px;
	}


/*
記事本文の書式
カテゴリー | 16:11 | comments(0) | trackbacks(0) |↑TOP
*/
	.entry_state{
		color:#000000;
		background:#ffffff;
		font-size:11px;
		text-align:right;
		padding:2px;
		margin:0px 0px 15px 0px;
		border:1px solid #333333;
	}


/*
記事のページめくり
最新 ||| 前の記事 | 次の記事 ||| 最も古い
前のページ | 次のページ
*/
	.entry_explore{
		color:#555555;
		font-size:12px;
		text-align:center;
	}


/*
本文表示
*/
	.entrytable{
		color:#000000;
		background:#ffffff;
	}


/****************************************************/
/***** 関連予約 ***********/

/*
関連予約の書式
*/
	.reservebody{
		background:#ffffff;
		margin:20px 20px 20px 20px;
		padding:0px;
	}


	table.reservebox{
		border-top: 1px solid #AAAAAA;
		border-left: 1px solid #AAAAAA;
		border-right: 1px solid #AAAAAA;
		border-bottom: 1px solid #AAAAAA;
		border-collapse: collapse;
		border-spacing: 0px 0px 0px 0px;
		background-color: #ffffff;
		empty-cells: show;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.reservebox th{
		border-bottom: 1px solid #AAAAAA;
		color: #555555;
		background-color: #CCCCCC;
		background-position: left top;
		text-align: left;
		font-size: 12px;
		font-weight: bold;
		line-height: 14px;
		letter-spacing: 1px;
		padding:3px;
	}

	.reservebox td{
		color: #000000;
		text-align: left;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 1px;
		padding:3px;
	}

	td.reserveimg{
		padding:5px;
	}


	td.reservebtn{
		text-align: right;
		padding: 5px 10px 5px 0px;
	}


	.reserve_plan{
		color: #000000;
		text-align: left;
		font-size: 12px;
		font-weight: bold;
		line-height: 16px;
		letter-spacing: 1px;
	}


/****************************************************/
/***** 記事ページの設定（コメントリスト） ***********/

	.empty_class{}


/*
コメント一覧時のコメント本文表示詳細
*/
	.comment_body{
		background:#ffffff;
		font-size:12px;
		line-height:130%;
		margin:10px 30px 10px 50px;
		text-align:left;
		padding:3px;
	}


/*
「この記事にコメントする」タイトルの書式
*/
	.comment-form-title{
		text-align:left;
		background:#0066CC;
		color:#ffffff;
		font-size:12px;
		font-weight:bold;
		letter-spacing:1px;
		padding:3px;
	}


/*
「この記事へのコメント[0件]」の書式
*/
	.comment-list-title{
		text-align:left;
		color:#ffffff;
		font-size:12px;
		background:#0066CC;
		font-weight:bold;
		letter-spacing:1px;
		padding:3px;
	}


/*
コメントの情報
posted by と 日時
*/
	.comment-state{
		color:#555555;
		font-size:10px;
		line-height:100%;
		text-align:right;
		margin:0px 0px 10px 0px;
	}


/*
「この記事にコメントする」入力部分の書式
*/
	.comment-form-area{
		position:static;
		background:#ffffff;
		color:#ffc7b7
		text-align:left;
		font-size:11px;
		font-weight:bold;
		font-size:11px;
	}


/*
コメント記載者の書式
*/
	.comment_author{
		font-size:small;
		line-height:135%;
		margin:0 0 0 0;
	}


/*
「この商品のレビュー[0件]」の書式
*/
	.review-list-title{
		text-align:left;
		color:#ffffff;
		font-size:12px;
		background:#0066CC;
		font-weight:bold;
		letter-spacing:1px;
		padding:3px;
	}


/*
レビュー一覧時のコメント件名表示詳細
*/
	.review_title{
		background:#ffffff;
		font-size:12px;
		line-height:130%;
		margin:10px 30px 10px 50px;
		text-align:left;
		padding:3px;
	}

/*
レビュー一覧時のコメント本文表示詳細
*/
	.review_body{
		background:#ffffff;
		font-size:12px;
		line-height:130%;
		margin:10px 30px 10px 50px;
		text-align:left;
		padding:3px;
	}


/*
レビューの情報
posted by と 日時
*/
	.review-state{
		color:#555555;
		font-size:10px;
		line-height:100%;
		text-align:right;
		margin:0px 0px 10px 0px;
	}


/*
「この商品のレビューを書く」タイトルの書式
*/
	.review-form-title{
		text-align:left;
		background:#0D4461;
		color:#ffffff;
		font-size:12px;
		font-weight:bold;
		letter-spacing:1px;
		padding:3px;
	}


/*
「この商品のレビューを書く」入力部分の書式
*/
	.review-form-area{
		position:static;
		background:#ffffff;
		color:#1B4963
		text-align:left;
		font-size:11px;
		font-weight:bold;
		font-size:11px;
	}


/****************************************************/
/***** 記事ページの設定（トラックバックURL） ********/


/*
「この記事のトラックバックURL」エリアの書式
*/
	#trackback-url-area{
		width:90%;
		color:#000000;
		font-size:12px;
		margin:0px 20px 20px 0px;
	}


/*
「この記事のトラックバックURL」の書式
*/
	.trackback-url{
		margin:20px 50px 15px 0px;
	}


/****************************************************/
/***** 記事ページの設定（トラックバックリスト） *****/


/*
「この記事へのトラックバック[　件]」の書式
*/
	.trackback-list-title{
		text-align:left;
		color:#ffffff;
		background:#0066CC;
		font-size:12px;
		font-weight:bold;
		letter-spacing:1px;
		padding:3px;
	}


/*
トラックバックタイトル
*/
	.trackback-title{
		font-size:12px;
		text-align:left;
		background:#D0E2FC;
		padding:3px;
		margin:20px 15px 15px 15px;
	}


/*
トラックバック本文
*/
	.trackback-body{
		color:#222222;
		background:#ffffff;
		font-size:12px;
		line-height:135%;
		margin:10px 50px 10px 30px;
		padding:3px;
	}


/*
トラックバックの情報
Posted by と日時
*/
	.trackback-state{
		color:#555555;
		font-size:10px;
		line-height:100%;
		text-align:right;
		margin:0px 0px 20px 0px;
	}


/****************************************************/
/***** サイドバー ***********************************/


/*
サイドバーの幅
*/
	.sidebar{
		width:100%;
	}


/*
サイドバー 各コンテンツのタイトル文字の書式
*/
	.linktitle{
		color:#eeeeee;
		background:#0066CC;
		font-size:11px;
		font-weight:bold;
		letter-spacing:2px;
		padding:3px;
		text-align:left;
		border:1px solid #316AC5;
	}


/*
カレンダーの書式
*/
	.side-calendar{
		color:#000000;
		background:#ffffff;
		font-size:11px;
		letter-spacing:1px;
		padding:5px;
		text-align:center;
		border:1px solid #103042;
	}


/*
カレンダー 年月の書式
*/
	.calendar-month{
		color:#333333;
		font-weight:bold;
		text-align:center;
	}


/*
カレンダー 曜日の書式
*/
	.calendar-week{
		background:#A6CAED;
		text-align:center;
	}


/*
カレンダー　日の書式
*/
	.cell {
		background:#ffffff;
		width:20px;
		height:20px;
		border:solid 1px #333333;
		text-align:center;
	}


/*
カレンダー 本日の書式
*/
	.today {
		background:#A6EDFF;
		border:solid 1px #333333;
	}


/*
月別アーカイブの書式
*/
	.side-marchive{
		color:#000000;
		background:#ffffff;
		font-size:11px;
		line-height:130%;
		letter-spacing:1px;
		padding:5px;
		text-align:left;
		border:1px solid #103042;
	}

/*
月別アーカイブの年の書式
*/
	.side-archive_year{
		font-size:75%;
	}


/*
月間アーカイブカレンダー 年月の書式
*/
	.calendar-month_a{
		background:#0D4461;
		color:#ffffff;
		font-size:11px;
		font-weight:bold;
		text-align:center;
		padding:1px;
	}


/*
月間アーカイブカレンダー　日の書式
*/
	.cell_a {
		background:#ffffff;
		font-size:11px;
		width:16px;
		height:15px;
		border:solid 1px #333333;
	}


/*
カレンダー 本日の書式
*/
	.today_a {
		background:#F0E68C;
		font-size:11px;
		width:15px;
		height:15px;
		border:solid 1px #333333;
	}


/*
カテゴリー別アーカイブの書式
*/
	.side-carchive{
		color:#cccccc;
		background:#ffffff;
		list-style-type:disc;
		font-size:11px;
		line-height:130%;
		letter-spacing:1px;
		text-align:left;
		border:1px solid #103042;
		padding-top:10px;
	}


/*
最新トラックバックの書式
*/
	.side-latest-trackback{
		color:#000000;
		background:#ffffff;
		font-size:11px;
		line-height:110%;
		letter-spacing:1px;
		text-align:left;
		border:1px solid #103042;
		padding:5px;
	}


/*
最新記事の書式
*/
	.side-latest-article{
		color:#000000;
		background:#ffffff;
		font-size:11px;
		line-height:110%;
		letter-spacing:1px;
		text-align:left;
		border:1px solid #103042;
		padding:5px;
	}


/*
最新のコメントの書式
*/
	.side-latest-comment{
		color:#000000;
		background:#ffffff;
		font-size:11px;
		line-height:110%;
		letter-spacing:1px;
		text-align:left;
		border:1px solid #103042;
		padding:5px;
	}


/*
作者プロフィールの書式
*/
	.side-profile{
		color:#000000;
		background:#ffffff;
		font-size:11px;
		line-height:110%;
		letter-spacing:1px;
		text-align:left;
		border:1px solid #103042;
		padding:5px;
	}


/*
このブログについての書式
*/
	.side-about-blog{
		color:#000000;
		background:#ffffff;
		font-size:11px;
		line-height:110%;
		letter-spacing:1px;
		text-align:left;
		border:1px solid #103042;
		padding:5px;
	}


/*
リンク集の書式
*/
	.side-links{
		color:#000000;
		background:#ffffff;
		font-size:11px;
		line-height:110%;
		padding:5px;
		text-align:left;
		border:1px solid #103042;
	}


/*
RSSインポートの書式
*/
	.side-rss-import{
		color:#000000;
		background:#ffffff;
		font-size:75%;
		line-height:130%;
		letter-spacing:2px;
		padding:5px;
		text-align:left;
		border:1px solid #103042;
		margin:0 0 0px 0;
	}


/*
RSS配信の書式
*/
	.side-rss-feed{
		color:#000000;
		background:#ffffff;
		font-size:75%;
		line-height:130%;
		letter-spacing:2px;
		padding:5px;
		text-align:left;
		border:1px solid #103042;
		margin:0 0 0px 0;
	}


/*
BLOG内検索
*/
	.side-blog-search{
		color:#000000;
		background:#ffffff;
		font-size:8px;
		line-height:110%;
		letter-spacing:0px;
		text-align:center;
		border:1px solid #103042;
	}


/*
管理メニュー
*/
	.side-admin-menu{
		color:#cccccc;
		background:#ffffff;
		list-style-type:disc;
		font-size:11px;
		line-height:130%;
		letter-spacing:1px;
		text-align:left;
		border:1px solid #103042;
		padding-top:10px;
	}


/*
管理ログイン
*/
	.side-admin-login{
		color:#000000;
		background:#ffffff;
		font-size:75%;
		line-height:130%;
		letter-spacing:2px;
		padding:5px;
		text-align:center;
		border:1px solid #333;
		margin:0 0 0px 0;
	}


/*
訪問者リスト
*/
	.side-visitor-list{
		color:#cccccc;
		background:#ffffff;
		list-style-type:disc;
		font-size:11px;
		line-height:110%;
		letter-spacing:1px;
		text-align:left;
		border:1px solid #103042;
		padding:3px;
		padding-top:10px;
	}


/*
アクセスカウンタ
*/
	.side-access-counter{
		color:#000000;
		background:#ffffff;
		font-size:11px;
		line-height:110%;
		letter-spacing:1px;
		text-align:left;
		border:1px solid #103042;
		padding:5px;
	}


/*
商品情報
*/
	.side-reserve-info{
		color:#000000;
		background:#ffffff;
		font-size:11px;
		line-height:110%;
		letter-spacing:1px;
		text-align:left;
		border:1px solid #103042;
		padding:5px;
	}


/*
おすすめ情報
*/
	.side-blog-parts{
		color:#000000;
		background:#ffffff;
		font-size:11px;
		line-height:110%;
		letter-spacing:1px;
		text-align:left;
		border:1px solid #103042;
		padding:5px;
	}


/*
サイドバーリンクの文字書式
*/
	.linktext{
		/*color:#000000;*/
		background:#ffffff;
		font-size:80%;
		line-height:130%;
		letter-spacing:2px;
		padding:5px;
		text-align:left;
		border:1px solid #333;
		margin:0 0 0px 0;
	}


/****************************************************/
/***** サイト内検索結果 *****************************/


/*
ブログ内検索の書式
*/
	.visitor-title{
		text-align:left;
		color:#ffffff;
		background:#0066CC;
		font-size:12px;
		font-weight:bold;
		letter-spacing:1px;
		padding:3px;
	}


/*
検索結果全体
*/
	.search-result{
		color:#000000;
		background:#ffffff;
		font-size:12px;
		padding:0px;
	}


/*
検索結果タイトル
*/
	.search-result-title{
		background:#DFDFDF;
		font-size:12px;
		text-align:left;
		line-height:130%;
		letter-spacing:1px;
		margin:0px 5px 2px 0px;
		padding:3px;
	}
/*
検索結果本文
*/
	.search-result-contents{
		color:#000000;
		background:#ffffff;
		font-size:12px;
		line-height:130%;
		text-align:left;
		margin:0px 5px 2px 20px;
		padding:3px;
	}
/*
検索結果日時
*/
	.search-result-datetime{
		color:#999999;
		font-size:10px;
		text-align:left;
		letter-spacing:1px;
	}


/****************************************************/
/***** コピーライト ***********************************/


/*
コピーライトの書式
*/
	.copyright{
		background:#1975D1;
		padding:3px;
		text-align:center;
	}

/****************************************************/
/***** 商品の表示設定 *****************************************/


/*
商品表示の書式
*/
	.cart-table{
		background:#97AFDD;
		font-size:13px;
		line-height:130%;
		text-align:left;
	}



/*****END********************************************/
