@charset "Shift_JIS";


body{
	margin:0;
	background:#000000;
	text-align:center;
}

a:link{color:#FFFFFF;text-decoration:underline;}
a:visited{color:#FFFFFF;text-decoration:underline;}
a:active{}
a:hover{}


/*ブログタイトルの書式*/
.site_title{
	width:100%;
	height:90px;
	font-size:24px;
	line-height:110%;
	font-weight:bold;
	padding:10px 0px 0 15px;
	text-align:left;
	vertical-align: top;
	letter-spacing:2px;
	background-image:url(../images/theme/blog_title37.jpg);
	background-repeat:no-repeat;
	background-position:right top;
	border-right: 1px solid #666666;
	border-left: 1px solid #666666;
}

/*サブタイトルの書式*/
.description{
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	letter-spacing:2px;
}

/*要素を囲む背景テーブル*/
.tab-design{
	border: 1px solid #666666;

}

/*トップページのみ使用の記事枠全体*/
.top-main{
	table-layout: inherit;
	width:100%;
}

/*記事の枠*/
	.frame-top-left{
		width:30px;
	}


	.frame-top-middle{
		height:30px;
		width:80%;
	}


	.frame-top-right{
		width:30px;
	}


	.frame-middle-left{
	}


	.frame-middle-right{
	}


	.frame-bottom-left{
	}


	.frame-bottom-middle{
		width:80%;
		height:37px;
	}


	.frame-bottom-right{
	}


/***** 記事の設定 *********************/
/*記事全体*/
.entrytable{
}

/*記事の日時　0000年00月00日*/
.entry-day-title{
	color:#000000;
	padding:2px 2px 1px 8px;
	text-align:left;
	font-size:13px;
	font-weight:bold;
	background-image:url(../images/theme/day_title37.gif);
	background-repeat:repeat-x;
	background-position:right top;
}

/*記事タイトルの書式*/
.entry_title{
	font-size:13px;
	line-height:130%;
	font-weight:bold;
	letter-spacing:1px;
	padding:3px;
	margin:20px 0px 15px 15px;
}

/*記事本文の書式*/
.entry_body{
	color:#FFFFFF;
	font-size:13px;
	line-height:130%;
	letter-spacing:0px;
	margin:10px 10px 20px 30px;
}

/*記事本文の「続きを読む」*/
.entry_more_link{
	font-size:12px;
	text-align:right;
	margin:15px 30px 15px 0px;
}

/*関連リンクの書式*/
.entry_associatelink{
	color:#FFFFFF;
	font-size:12px;
	line-height:140%;
	letter-spacing:0px;
	margin:0px 0px 15px 35px;
}

/*時間16:11 | コメント(0) | 引用記事(0)　の書式*/
.entry_state{
	color:#FFFFFF;
	font-size:11px;
	text-align:right;
	padding:5px 2px 2px 2px;
	margin:0px 10px 15px 0px;
}

/*記事ページ　最新 ||| 前の記事 | 次の記事 ||| 最も古い／前のページ | 次のページ*/
.entry_explore{
	color:#FFFFFF;
	font-size:12px;
	text-align:center;
}

/*月別アーカイブ　前月｜記事トップ｜翌月の書式*/
.article-list-title{
	color:#FFFFFF;
	padding:2px 0px 7px 0px;
	text-align:center;
	font-size:12px;
}


/***** コメントの設定 *********************/
/*この記事を引用・リンクする・コメントの全体背景*/
.article{
	position:static;
	background:#666666;
	text-align:left;
}

/*コメントありのコメント本文表示詳細*/
.comment_body{
	color:#FFFFFF;
	font-size:12px;
	line-height:130%;
	margin:10px 0px 10px 30px;
	text-align:left;
	padding:3px;
}

/*「この記事にコメントする」タイトルの書式*/
.comment-form-title{
	text-align:left;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	letter-spacing:1px;
	padding:3px;
	border-top:1px solid #0F3057;
	border-bottom:1px dotted #0F3057;
}

/*「この記事へのコメント[0件]」の書式*/
.comment-list-title{
	text-align:left;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	letter-spacing:1px;
	padding:3px;
	border-top:1px solid #0F3057;
	border-bottom:1px dotted #0F3057;
}

/*コメントの情報 posted by と 日時*/
.comment-state{
	color:#FFFFFF;
	font-size:10px;
	line-height:100%;
	text-align:right;
	margin:0px 0px 10px 0px;
}

/*「この記事にコメントする」入力部分の書式*/
.comment-form-area{
	position:static;
	color:#FFFFFF;
	text-align:left;
	font-size:11px;
	font-weight:bold;
	letter-spacing:1px;
}

/*コメント記載者の書式*/
.comment_author{
	font-size:small;
	line-height:135%;
	margin:0 0 0 0;
}

/***** 引用記事の設定 *********************/
/*「この記事とリンクする」「この記事を引用している記事　件」の書式*/
.trackback-list-title{
	text-align:left;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	letter-spacing:1px;
	padding:3px;
	border-top:1px solid #0F3057;
	border-bottom:1px dotted #0F3057;
}

/*引用記事タイトル*/
.trackback-title{
	font-size:12px;
	font-weight:bold;
	text-align:left;
	padding:3px;
	margin:20px 15px 15px 15px;
}

/*引用記事の作成・本文*/
.trackback-body{
	color:#FFFFFF;
	font-size:12px;
	line-height:130%;
	margin:10px 0px 10px 30px;
	padding:3px;
}

/*引用記事　Posted by と日時*/
.trackback-state{
	color:#FFFFFF;
	font-size:10px;
	line-height:100%;
	text-align:right;
	margin:0px 0px 20px 0px;
}


/********** サイドバー ***********************************/
/*サイドバーの幅*/
.sidebar{
	width:189px;
}

/*サイドバー 各コンテンツのタイトル文字の書式*/
.linktitle{
	color:#000000;
	font-size:11px;
	font-weight:bold;
	letter-spacing:2px;
	padding:3px;
	text-align:left;
	background-image:url(../images/theme/sidebar37.gif);
	background-repeat:no-repeat;
	background-position:right top;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

/*カレンダーの書式*/
.side-calendar{
	margin:0;
	color:#FFFFFF;
	font-size:11px;
	letter-spacing:1px;
	padding:5px;
	text-align:center;
}

/*カレンダー 年月の書式*/
.calendar-month{
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
}

/*カレンダー 曜日の書式*/
.calendar-week{
	font-size:10px;
	color:#FFFFFF;
	background:#666666;
	text-align:center;
}

/*カレンダー　日の書式*/
.cell {
	height:20px;
	border:solid 1px #666666;
	text-align:center;
}

/*カレンダー 本日の書式*/
.today {
	background:#666666;
	border:solid 1px #666666;
	color:#FFFFFF;
}

/*月別アーカイブの書式*/
.side-marchive{
	color:#FFFFFF;
	font-size:11px;
	line-height:130%;
	letter-spacing:1px;
	padding:5px;
	text-align:left;
}

/*月別アーカイブカレンダー 年月の書式*/
.calendar-month_a{
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	padding:1px;
}

/*月別アーカイブカレンダー　日の書式*/
.cell_a {
	color:#FFFFFF;
	font-size:11px;
	width:16px;
	height:15px;
	border:solid 1px #666666;
}

/*月別カレンダー 本日の書式*/
.today_a {
	background:#666666;
	font-size:11px;
	width:15px;
	height:15px;
	color:#FFFFFF;
}

/*引用された記事の書式*/
.side-latest-trackback{
	color:#FFFFFF;
	font-size:11px;
	line-height:110%;
	letter-spacing:1px;
	text-align:left;
	padding:5px;
}

/*最新記事・最新のコメントの書式*/
.side-latest-comment{
	color:#FFFFFF;
	font-size:11px;
	line-height:110%;
	letter-spacing:1px;
	text-align:left;
	padding:5px;
}

/*アバターの表示（HTML側指定あり）*/
.side-profile{
}

/*ブログについての書式（HTML側指定あり）*/
.side-about-blog{
	color:#FFFFFF;
	font-size:11px;
	line-height:110%;
	letter-spacing:1px;
	text-align:left;
	padding:5px;
}

/*BLOG内検索*/
.side-blog-search{
	color:#FFFFFF;
	font-size:8px;
	line-height:110%;
	letter-spacing:0px;
	text-align:center;
	padding:5px;
}

/*管理メニュー*/
.side-admin-menu{
	color:#FFFFFF;
	list-style-type:disc;
	font-size:11px;
	line-height:130%;
	letter-spacing:1px;
	text-align:left;
	padding-top:10px;
}

/*訪問者リスト（あしあと）*/
.side-visitor-list{
	color:#FFFFFF;
	list-style-type:disc;
	font-size:11px;
	line-height:110%;
	letter-spacing:1px;
	text-align:left;
	padding:3px;
	padding-top:10px;
}

/*アクセスカウンタ*/
.side-access-counter{
	color:#FFFFFF;
	font-size:11px;
	line-height:110%;
	letter-spacing:1px;
	text-align:left;
	padding:5px;
}


/***** 訪問者（あしあと）一覧＆サイト内検索結果 *********************/
/*あしあと全体*/
.visitor-list{
	color:#FFFFFF;
	font-size:12px;
	padding:0px;
}

/*検索結果全体*/
.search-result{
	color:#FFFFFF;
	font-size:12px;
	padding:0px;
}

/*「あしあと一覧」「検索結果」タイトル書式*/
.visitor-title{
	text-align:left;
	background: #666666;
	color:#FFFFFF;
	font-weight:bold;
	letter-spacing:1px;
	padding:3px;
}

/*項目（ニックネーム・ブログ名・訪問日時）の書式*/
.visitor-list-head{
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
}

/*ニックネーム*/
.visitor-list-nickname{
	width:28%;
	color:#FFFFFF;
	font-size:11px;
	text-align:left;
	line-height:120%;
	padding:5px;
/*	border-bottom:1px solid #005E37;*/
}

/*ブログ名*/
.visitor-list-blogname{
	width:50%;
	color:#FFFFFF;
	font-size:11px;
	text-align:left;
	line-height:120%;
	padding:5px;
/*	border-bottom:1px solid #005E37;*/
}

/*訪問日時*/
.visitor-list-datetime{
	width:22%;
	color:#FFFFFF;
	text-align:left;
	font-size:10px;
	letter-spacing:1px;
	padding:5px;
/*	border-bottom:1px solid #005E37;*/
}

/*検索されたタイトル*/
.search-result-title{
	color:#FFFFFF;
	font-weight:bold;
	text-align:left;
	line-height:130%;
	letter-spacing:1px;
	margin:0px 5px 2px 0px;
	padding:3px;
}

/*検索された本文*/
.search-result-contents{
	color:#FFFFFF;
	line-height:130%;
	text-align:left;
	margin:0px 5px 2px 20px;
	padding:3px;
}

/*登録された日時*/
.search-result-datetime{
	color:#FFFFFF;
	font-size:10px;
	text-align:left;
	letter-spacing:1px;
}


/***** オーダーリスト *******************************/
/*オーダーリスト枠線*/
.order_list{
	background:#666666;
	letter-spacing:1px;
}
